html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin: 1em;
    background-color: white;
}

.grid-item {
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    color: white;
    line-height: 1;
    border-radius: 5px

}