@model ICollection<Item>

    <div class="grid-wrapper">
    @{
        foreach(Item item in @Model)
        {
            <div class="grid-item">
            @item.Title
            </div>
        }
    }
    </div>