@using System.Drawing
@model List<Item>


<div class="grid-wrapper">
    @{
        foreach (Item item in Model)
        {
            <div class="grid-item">
                @{
                    var base64 = Convert.ToBase64String(item.Image);
                    var imgSrc = $"data:image/gif;base64,{base64}";
                }

                <img src="@imgSrc" width="100" height="100"/>
            </div>
        }
    }
</div>