@model List<Item>


    <div class="grid-wrapper">
    @{
        foreach(Item item in @Model)
        {

            using (var ms = new MemoryStream(@item.Image))
            {
            }
            <div class="grid-item">
            <img src= (></img>
            </div>
        }
    }
    </div>